<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://kit.fontawesome.com/965e5e405e.js" crossorigin="anonymous"></script>
    <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <header>
      <h3>Bienvenidos a mi portafolio</h3>
      <nav>
        <ul>
          <li>
            <a href='/'>Home</a>
          </li>
          <li>
            <a href='/'>About</a>
          </li>
          <li>
            <a href='/'>Skills</a>
          </li>
          <li>
            <a href='/'>Projects</a>
          </li>
          <li>
            <a href='/'>Contact</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>

      <section class="section-portada">
        <img src="" alt="">
        <div class="section-div-presentacion">
          <h4>Hola, Bienvenidos:</h4>
          <p>Mi nombre es Santiago Rodriguez y soy Full stack developer, recibido del curso de programación full stack ofrecido por Digital Hause. A continuación podrán observar un descripcion de mi, algunas skills, habilidades blandas, proyectos y por ultimo como contactarme. Gracias por su atención</p>
        </div>
      </section>

      <section class="section-sobreMi">
        <h4>Un poco sobre mi:</h4>
        <div>
          <p> Desde chico me gusta mucho la tecnologia y todo lo que podes lograr con una computadora y acceso a internet, tambien me gusta cocinar, la musica, el futbol e ir al gimnasio. En cuanto a la programacion, me gusta mantanerme simpre actualizado e ir aprendiendo tencnologias nuevas e ir mejorando en las que ya comprendo.</p>
        </div>

      </section>

      <section class="section-skills">
        <h4>Skills</h4>

        <div>
          <h5>Front-end</h5>
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>Java Script</li>
            <li>React</li>
          </ul>
        </div>
        

        <div>
          <h5>Banck-end</h5>
          <ul>
            <li>Node JS</li>
            <li>Express JS</li>
            <li>Ejs</li>
            <li>MySQL</li>
            <li>SQL</li>
            <li>Api's</li>
          </ul>
        </div>

        <div>
          <h5>Habilidades tecnicas</h5>
          <ul>
            <li>Trello</li>
            <li>GIT</li>
            <li>Git Hub</li>
            <li>Scrum</li>
          </ul>
        </div>

      </section>

      <section class="section-miProyecto">
        <h4>Mi proyecto:</h4>
        <div class="imagen-del-proyecto">
          <img src="" alt="">
        </div>

        <div class="detalle-del-proyecto">
          <h5>Diseñame 3D:</h5>
          <p>Este proyecto es de un e-comerce que realize junto a otros 2 integrantes, empleando todas las tecnologias mencionadas anteriormente, incluyendo la base de datos hecha con MySQL y migraciones; utilizando tambien api’s de 3ros y crando la nuestra propiamente; la pagina es totalmente responsiva  y cuenta con un dashboard donde empleamos la tecnologia de desarrolo web REACT.</p>
        </div>
        <button>
          <a href="">ver mas proyectos</a>
        </button>
      </section>

      <section class="section-contactame">
        <h4>Contactame</h4>

        <div>
          <a href="">Mi Linkedin</a>
        </div>
        <div>
          <a href="">Mi Git Hub</a>
        </div>
        <div>
          <a href="">Mi Correo Electronico</a>
        </div>

      </section>

    </main>

    <footer>
      <h5>COPYRIGHT © Santiago Rodriguez Portfolio 2023. All rights reserved.</h5>

      <div class="caja--footer">
        <div class="redes--sociales--footer">
            <h4>Redes Sociales</h4>
            <div class="redes--sociales--iconos">
                <a href=""><span class="iconify" data-icon="fa6-brands:facebook" style="color: rgba(18, 75, 160, 1); font-size: 25px;"></span></a>
                <a href=""><span class="iconify" data-icon="fa6-brands:instagram-square" style="color: rgba(186, 0, 78, 0.68); font-size: 25px;"></span></a>
                <a href=""><span class="iconify" data-icon="ant-design:twitter-circle-filled" style="color: rgba(9, 160, 224, 1); font-size: 27px;"></span></a>
                <a href=""><span class="iconify" data-icon="bi:youtube" style="color: rgba(233, 12, 12, 1); font-size: 25px;"></span></a>
                <a href=""><span class="iconify" data-icon="logos:pinterest" style="color: rgba(233, 12, 12, 1); font-size: 25px;"></span></a>
            </div>
        </div>
        <div class="contactos--footer">
            <h4>Contacto</h4>
            <div class="contacto--iconos--footer">
                <a><span class="iconify" data-icon="fa-solid:map-marked-alt" style="color: #699bf7; font-size: 14px;"></span>Cutral co - Plaza Huincul</a>
                <a><span class="iconify" data-icon="logos:whatsapp-icon" style="color: #699bf7; font-size: 14px;"></span>123456789</a>
                <a href=""><span class="iconify" data-icon="logos:google-gmail" style="color: #f24e1e; font-size: 14px;"></span>diseniame@gmail.com</a>
            </div>
    </div>


    </footer>

  </body>
</html>
